<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://welpapp20160805021108.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>welpapp20160805021108.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WelpApp20160805021108</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WelpApp20160805021108</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:welpapp20160805021108dbserver.database.windows.net,1433;Initial Catalog=WelpApp20160805021108_db;User ID=karnde@welpapp20160805021108dbserver;Password=Dbadmin2" Name="Data Source=tcp:welpapp20160805021108dbserver.database.windows.net,1433;Initial Catalog=WelpApp20160805021108_db;User Id=karnde@welpapp20160805021108dbserver;Password=Dbadmin2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WelpApp.Models.ApplicationDbContext, WelpApp" MigrationConfiguration="WelpApp.Migrations.Configuration, WelpApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:welpapp20160805021108dbserver.database.windows.net,1433;Initial Catalog=WelpApp20160805021108_db;User Id=karnde@welpapp20160805021108dbserver;Password=Dbadmin2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>